.App {
    text-align: left;
}

.Input-Basic {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid rgb(189, 189, 189);
    margin-bottom: 0px;
    margin-top: 15px;
    width: 140px;
    font-size: 12px;
}

.Sidebar {
    width: 50px;
    background-color: black;
    height: 1000px;
}

.Icon {
    margin-top: 25px;
}

.Title {
    text-decoration: none;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    color: black;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 30px;
}

.Logo {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 5px;
}

.Fern {
    width: 71px;
    height: 28px;
    margin-top: 20px;
    margin-left: 10px;
}

.Header {
    height: fit-content;
    flex-direction: row;
    display: flex;
}

.SidebarButton {
    height: 80px;
    background-color: black;
    width: 80px;
    flex-direction: row;
}

.Button-Primary {
    background-color: #ffab5d;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    height: 22px;
    width: 150px;
    font-size: 15px;
    margin-top: 20px;
    border-width: 0ch;
    margin-bottom: 20px;
    font-size: small;
}

.Body {
    flex-direction: row;
    display: flex;
}

.CartCountContainer {
    flex-direction: row;
    display: flex;
    justify-self: right;
    margin-left: auto;
}

.CartCount {
    height: 60px;
    background-color: black;
    width: 130px;
    flex-direction: row;
    display: flex;
}

.CartCountText {
    margin-left: 25px;
    margin-top: 17px;
    color: palevioletred;
    font-weight: bolder;
    font-size: 20px;
}

.CartCountText2 {
    color: white;
    font-weight: bolder;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
}

.SearchBar {
    height: 40px;
    width: 800px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-color: #979797;
    border-left-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 0px;
    margin-top: 8px;
    margin-left: 100px;
    font-size: 20px;
    padding-left: 10px;
    flex-direction: row;
    display: flex;
}

.SearchIcon {
    height: 25px;
    width: 25px;
    margin-top: 7.5px;
    margin-left: 7.5px;
}

.SearchButton {
    height: 40.5px;
    width: 50px;
    margin-top: 7.5px;
    margin-left: 0px;
    background-color: #d3d3d3;
    border-top-width: 2px;
    border-color: #979797;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Item {
    height: 556px;
    width: 320px;
    border-style: double;
    border-radius: 25px;
    border-width: 2px;
    border-color: #979797;
    justify-content: left;
    align-content: left;
    margin-top: 15px;
}

.ProductImage {
    width: 270px;
    height: 300px;
    margin-top: 20px;
}

.ProductName {
    font-size: 17px;
    justify-self: left;
    text-align: left;
    margin-right: 20px;
}

.ProductDescription {
    font-size: 14px;
    color: #7d7d7d;
    margin-top: 15px;
    width: 150px;
    text-align: left;
    margin-left: -20px;
}

.ProductRatingText {
    font-size: 14px;
    margin-left: -10px;
    margin-top: 17px;
    margin-right: -10px;
}

.ProductRating {
    font-size: 14px;
    margin-left: -20px;
    margin-top: 17px;
    margin-right: -10px;
}

.ProductRatings {
    font-size: 14px;
    color: #7d7d7d;
    margin-top: 17px;
    margin-left: -25px;
}

.ProductSource {
    font-size: 12px;
    color: #7d7d7d;
    margin-top: 20px;
    margin-right: -20px;
}

.ProductPrice {
    font-size: 20px;
    margin-left: -20px;
    width: 30px;
    margin-top: 10px;
    margin-right: 15px;
}

.ItemsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ProductBody {
    flex-direction: row;
    display: flex;
    text-align: left;
    margin-top: 10px;
}

.ProductEcoStats {
    flex-direction: row;
    display: flex;
    text-align: left;
    margin-top: 10px;
    height: 40px;
    margin-left: auto;
    justify-content: left;
}

.EcoStatsIcon {
    height: 20px;
    width: 30px;
}

.EcoStatsText {
    font-size: 14px;
}

.PageBody {
    display: flex;
    flex-direction: row;
}

.SideBarContainer {
    width: 300px;
    height: 500px;
    margin-top: 35px;
    margin-left: 15px;
    align-items: center;
}

.CheckBox {
    display: flex;
    flex-direction: row;
    align-self: left;
    margin-bottom: -20px;
    margin-top: -15px;
}

.Check {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 13px;
}

.FilterCriterion {
    height: 156px;
    width: 300px;
    border-style: double;
    border-radius: 25px;
    border-width: 2px;
    border-color: #979797;
    justify-content: left;
    align-content: left;
    margin-bottom: 10px;
}

.FilterTitle {
    font-weight: bold;
    margin-left: 20px;
    font-size: 18px;
}

.FilterItemText {
    font-size: 16px;
    margin-top: 10px;
}

.FilterCriterionRating {
    height: 136px;
    width: 300px;
    border-style: double;
    border-radius: 25px;
    border-width: 2px;
    border-color: #979797;
    justify-content: left;
    align-content: left;
    margin-bottom: 10px;
}

.ProductFooter {
    display: flex;
    flex-direction: row;
}

.CartIcon {
    width: 20px;
    height: 20px;
    margin-left: 60px;
    margin-top: 30px;
}
