.user_page {
    display: flex;
}

.user_page__spores {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user_page__spores > img {
    width: 80%;
    height: 80%;
}

.User_Info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 50%;
}
.User_Title {
    font-size: 2rem;
    text-align: left;
    flex-direction: row;
    margin-bottom: 0;
}

.User_Subtitle {
    text-align: left;
    color: black;
    font-weight: bold;
    flex-direction: row;
} 

.details__info__more__actions__buttons-spend {
    background-color: var(--primary-color) !important;
    width: 251px;
}

.User_Account_Info {
    flex-direction: column;
}

.User_Account_Info__spores {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.Token_Spend {
    display: flex;
    flex-direction: column;
}

.Token_Spend__details > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Plant_Tree {
    margin-bottom: 20px;
}

.Collect_Trash {
    margin-bottom: 20px;
}

.user_page_btn {
    border-radius: 20px !important;
    padding: 0.7rem 2rem !important;
    box-shadow: none !important;
    width: max-content;
}

.Verify_Text:hover {
    background-color: var(--secondary-color) !important;
}

.impact_history {
    margin-bottom: 1rem;
}
