.User_Title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
    font-weight: 100;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 30px;
}

.User_Subtitle {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
    font-weight: bold;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 50px;
} 

.details__info__more__actions__buttons-spend {
    background-color: var(--primary-color) !important;
    width: auto;
    
}

.User_Info {
    display: flex;
    flex-direction: row;
}

.User_Account_Info {
    flex-direction: column;
}

.Token_Spend {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
}

.Plant_Tree {
    margin-top: 61px;
    margin-bottom: 20px;
}

.Collect_Trash {
    margin-bottom: 20px;
}

.Verify_Text {
    text-decoration: underline;
}