.card {
    cursor: pointer;
}

.item__name {
    font-weight: bold;
}

.item__eco_status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.EcoStatsIcon {
    height: 20px;
    width: 20px;
    margin-right: 0.1rem;
}

.EcoStatsText {
    font-size: 0.8rem;
    margin-right: 0.8rem;
}

.product_details {
    display: flex;
    justify-content: space-between;
}

.product_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.product_image__img {
    width: 270px;
    height: 300px;
}

.ProductImage {
    max-width: 270px;
    height: 300px;
    margin-top: 1rem;
}

.product_details__price_seller {
    display: flex;
    align-items: baseline;
}

.ProductPrice {
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.product_details__ratings {
    display: flex;
    justify-content: center;
}

.ProductRatings {
    color: #7d7d7d;
}

.ProductSource {
    font-size: 0.8rem;
    color: #7d7d7d;
}

.product_description {
    width: 70%;
}

.product_action {
    width: 30%;
    float: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.product_action > svg {
    cursor: pointer;
}