.page {
    width: 100vw;
    height: 100vh;
}

.page__header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    font-size: 2rem;
    color: #ABD02A;
    font-weight: bold;
}

.page__header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.page__header__logo__img {
    height: 80%;
}

.page__header__logo__text {
    height: 80%;
}

.page__content {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}