html {
    --primary-color: #43AC3A;
    --secondary-color: #2A6CD0;
    --white-color: white;
    --primary-text-color: #222222;
    --secondary-text-color: #363636;
    --third-text-color: #7D7D7D;
}
