.App {
  text-align: left;
}

.Logo {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-left: 5px;
}

.Fern {
  width: 71px;
  height: 28px;
  margin-top: 20px;
  margin-left: 10px;
}

.Header {
  height: fit-content;
  
}

.PageTitle {
  font-size: 22px;
  font-weight: bold;
  margin-left: 280px;
}

.Body {
  height: 400px;
  width: 50%;
  margin-left: 30px;
  margin-top: 20px;
}

.EcoDetsIcon {
  height: 30px;
  margin-top: 10px;
}

.DetailsBody {
  flex-direction: row;
  display: flex;
  width: 1080px;
  margin-left: 40px;
}

.EcoDetsText {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 25px;
}

.SourceText {
  font-size: 16px;
  color: #7d7d7d;
  margin-top: 16px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: -20px;
}

.Source {
  flex-direction: row;
  display: flex;
  width: 308px;
  margin-left: 40px;
}

.DescriptionBody {
  width: 800px;
}